
.main {
  background-image: url(assets/band.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}
