* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(assets/band.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.social-image {
  width: 25px;
}

.social-item {
  margin-right: 15px;
}

.social-item:last-child {
  margin-right: 0;
}
